.sidebar-sticky {
  header {
     background-color: var(--pink);
  }
}

#upcoming {
  background-color: var(--purple);
  color: white;
}

#mission-statement {
  background-color: var(--pink);
  color: white;

  p {
    font-size: 24px;
    font-weight: bold;
  }
}